@colorprimario: rgb(44,62,80);//rgb(50, 56, 65);
@colorsecundario: rgb(229, 43, 57);
@fondogris: rgb(234, 235, 236); //#EAECED

/** configuraciones para header.less ****/
@banner-logo: url([[pix:theme|banner-logo]]);
@lang-logo: url([[pix:theme|flag]]);
@width-logo: 1112px/4;
@height-logo: 207px/4;


//iconos
@icon-nav: url([[pix:theme|rocket]]);
@icon-admin: url([[pix:theme|knife]]);
@icon-marcas: url([[pix:theme|bookmark]]);
@icon-admin-bloque : url([[pix:theme|bill]]); 

.reset
{
    display: block;
	background-image: none;
    background-color: transparent;
    border-radius: 0rem;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.reset-hover
{
	&:hover{
		.reset();
	}
}

.linkaction
{
	text-decoration: none;
    text-shadow: none;
    padding: .4rem 1rem;
    margin: 0;
    color: white;
    background-color: @colorprimario;
    min-width: 12rem;
    border-radius: 0rem;

	&:hover
	{
		background-color: lighten(@colorprimario, -5%) !important;
		transition:1s;
	}
	
	> a,
	>span,
	>input,
	>button
	{
		text-decoration: none;
		text-shadow: none;
		color: white;
	}
}

.card
{
	box-shadow: 0rem 0.5rem 0.5rem -0.5em #bbb;
	background-color: white;
}