b.caret
{
	border-top-color: white !important;
	border-bottom-color: white !important;
}

header
{
	.reset();
	margin: 0 !important;

 	&.navbar-fixed-top
 		{
 		 .navbar-inner 
 		 	{
		    background-image: none;
		    box-shadow: none;
		    background-color: @colorprimario;
		    padding: 0 !important;
		    border: none;

		    .container-fluid
		   	{
		   		padding: 0 !important;
		   		width: 100% !important;
		   		height: @height-logo;
		   		max-height: @height-logo;

			    #brand-logo,.brand
			    {
			    	background-image: @banner-logo;
					background-repeat: no-repeat;
					background-size: cover;
					padding: 0 !important;
					margin: 0 !important;
				    font-size: 0;
				    margin-left: 0;
				    position: absolute;
				 	width: @width-logo;
				    height: @height-logo;
			    }

			    .nav-collapse  
			    {
			    	.nav
			    	{
				    	float: right;
				    	margin: 0;
			    	}
			    	
			    	&.in 
			    	{
					    border-top: 1px solid #d4d4d4;
					    z-index: 200;
					    width: 100%;

					    .nav 
					    {
					    	width: 100%;
					    }
					}
			    }

			    .langmenu
			    {
			    	.linkaction();
			    	&.open 
			    	{ 
			    		background-color: lighten(@colorprimario, -5%) !important; 
			    	 }
			    	 >a.dropdown-toggle
					    {
				    		background-color: @colorprimario !important;
				    		color: white;

				    		&:hover,&:focus,:active
				    		{
				    			background-color: lighten(@colorprimario, -5%) !important;
				    			color: white;
				    		}
					    }
			    }

			    .btn.btn-navbar 
			    {
				    .reset();
				    .reset-hover();
				    .icon-bar
				    {
				    	.reset();
				    	
					   	&:nth-child(1)
					   	{
					   		@media (max-width:990px)
			    			{
						   		background-image: @lang-logo;
						   		background-size: cover;
								position: relative;
								background-position: inherit;
								top: 0.4rem;
								background-clip: border-box;
								padding: 1rem;
								height: 0.5rem;
								right: .5rem;
								width: .5rem;
					   		}
					   	}
				    }
				}

			    .dropdown-menu>li>a,
			    .usermenu .show .menu a,
			    .usermenu .show .menu a
			    {
			    	&:hover
			    	{
				    	background-color: @colorprimario;
				    	background-image: none;
				    	color: white;
			    	}

			    	&[href*='logout']
			    	{
			    		color: @colorsecundario;
			    		&:hover {
			    		color: white;
			    		background-color: @colorsecundario;
					    background-image: none;	
					    }	
			    	}
			    }

			    .usermenu
			    {
			    	.textmenu
			    	{
			    		.linkaction();
			    		min-width: 5rem;	
			    	}

			    	.usertext
			    	{
			    		margin-right: 1rem;
			    		@media (max-width:450px)
			    		{
			    			display: none;
			    		}
			    	}

			    	.userpicture {
					    display: block;
					    border-radius: 1rem;
					    box-shadow: 0rem 0rem 0rem .2rem white;
					    width: 2rem;
					    height: 2rem;
					}

					.login
					{
						font-size: 0rem;
						margin-left: 1rem;
   	 					margin-right: 2rem;

						a 
						{
							font-size: 1rem;
						    padding: .5rem;
						    background-color: @colorsecundario;
						    color: white;
						    line-height: 3rem;
						    text-decoration: none;

						    &:hover
						    {
						    	text-decoration: none;
						    	box-shadow: 0rem .2rem .1rem lighten(@colorprimario, -5%);
						    	line-height: 2.9rem;
						    }
						}
					}

			    	.show 
			    	{
	    				background-color: @colorsecundario;
	    				padding-left: .1rem;

	    				.menu
	    				{
						    .reset();
						    .card();
						    border-top: .1rem solid #323841;
						    
	    				}
					}
			    }
		   	}
		}
	}
}