body 
{
	.reset();
	overflow-y: hidden;
}

#page
{
	background-color: @fondogris;
    padding: 0;
	margin-top: @height-logo;
	padding-top: 2rem;
	padding-left: @width-logo;
    height: 100vh;
    overflow-y: scroll;
    transition: 1s;

    @media (max-width: 990px)
    {
    	padding-top: 0;
    	margin: 0;
    }
}

#page-header,
#page-content
{
	.reset();
	width: 98%;
	float: none;
	box-sizing: border-box;
	margin: 0 auto !important;

	@media (max-width:700px)
	{
		width: 100vw;
	}
}

#page-header
{
	background-color: white;
    margin-top: 1rem;
    position: relative;

    .page-context-header
    {
    	margin-top: 2rem;
    }

    .page-header-image{

    	float: none;
		z-index: 1;
		margin: 0 auto;
		background-color: #E52B39;
		padding: 1rem;

	    img {
		    background-color: #323741;
		    padding: 1rem;
		    width: 200px;
		    height: 200px;
		    border-radius: 150px;
		    top: 6rem;
		    position: relative;

		    @media( max-width: 450px)
		    {
		    	position: inherit;
		    	margin: 0 auto;
		    }
		}

		& +.page-header-headings {
		    float: none;
		    position: relative;
		    top: -2rem;
		    left: 250px;
		    @media( max-width: 450px)
		    {
		    	float: left;
			    position: inherit;
			    margin: 0;
			    padding-left: 1rem;
		    }
		}

    }

    .page-header-headings
	{
		margin-left: 2rem;
	}

    .breadcrumb-nav {
    	.reset();
    	position: absolute;
	    top: 0;
	    width: 100%;
	    background-color: white;
	    background-image: none;

	 	.breadcrumb {
		    background-color: white;
		    border-radius: 0rem;
		    border-bottom: 1px solid #EAEBEC;
		    font-size: .8rem;
		    padding: .5rem;

		    a {
			    color: @colorsecundario;
			    text-decoration: none;

			    &:hover
			    {
			    	color: @colorsecundario;
			    	text-decoration: overline;
			    }
			}

			li 
			{
				text-shadow: none;
				
				> span
				{
					color: @colorprimario;
				} 
				
				.divider
				{
					color: @colorprimario;
				}
			}

		}
		  
	}

	#page-navbar {
    border-bottom: .1rem solid #EAEBEC;
    border-top: .1rem solid #EAEBEC;
    margin-top: 1em;
	
		.breadcrumb-button {
		    float: right;
		    margin-top: 0;
		    padding: 0 .5rem;
		    width: 100%;
	    	max-width: 500px;
	    	box-sizing: border-box;

		    .singlebutton,
		    .singlebutton div,
		    {
		    	.reset();
		    	.reset-hover();
		    }

		    .singlebutton {
			    width: 49%;
			    margin: .5% !important;
			    box-sizing: border-box;
			    
			    input[type="submit"] 
			    {
				    background-color: @colorsecundario;
				    background-image: none;
				    border: none;
				    padding: .5rem;
				    box-sizing: border-box;
				    text-shadow: none;
				    border-radius: 9rem;
				    margin: 0.1rem;
				    width: 100%;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    color: white;
				    font-size: .8rem;
				    font-weight: bolder;
				}
			}
		}
	}
}