#region-main,
#region-main-box
{
    background-color: #F1F2F7;
    padding: 0 1rem;
    width: 100% !important;
    margin: 0;
}

#block-region-side-pre,
#block-region-side-post
{
	position: absolute;
	visibility: hidden;
}