.has-custom-scrollbar(@width, @fondo, @boton-color, @boton-color-action)
{

  &::-webkit-scrollbar {
    width: @width;
    height: @width;
  }
  
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: @boton-color;
    border: 0px none #ffffff;
    border-radius: 14px;
    &:hover,:active {
      background: @boton-color-action;
    }
  }

  &::-webkit-scrollbar-track {
    background: @fondo;
    border: 0px none #ffffff;
    border-radius: 0px;
    &:hover,:active
    {
      background: @fondo;
    }
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}