@import (reference) "scroll-bar";

.icon-block-side-pre(@icono)
{
  .header .title
  {
    &:before 
    { 
      content: @icono;
      margin: @height-logo/6;
      display: inline-block;
      float: left;
    }
  }
}

#block-region-side-pre {

  @dark-colorprimario:lighten(@colorprimario, -5%);

 	visibility: visible;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 100;
  background-color: @colorprimario;
  height: 100vh;
  overflow-y: auto;
  margin-top: @height-logo;
  padding-bottom: @height-logo;
  width: @width-logo;
  transition: 1s linear;

  @media (max-width:490px)
  {
    width: 100vw;
  }

  #toogle-side-pre:before {
    content: "MENU";
    background-color: @dark-colorprimario;
    display: block;
    color: white;
    text-align: center;
    font-size: 1rem;
    height: @height-logo;
    width: 100%;
    bottom: 2.9rem;
    border-bottom: .1rem solid @colorsecundario;
    line-height: @height-logo;
    position: static;
  }

  .has-custom-scrollbar(5px ,@colorprimario, @dark-colorprimario, @colorsecundario);

  .block {
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    min-width: @width-logo;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    margin: 0rem;
    padding: 0rem;

    .header
    {
      transition: 1s linear .8s;
      border-bottom: .1rem solid @dark-colorprimario;
    }

    .header h2
    {
      height: @height-logo;
      line-height: @height-logo;
      color: lighten(@colorprimario, 20%);
      text-shadow: 0px 1px 0px @dark-colorprimario;
      display: inline-block;
    }

    .block_action
    {
      display: none;
    }

    .content {
      transition: 1s linear .8s;
      background-color: rgba(0, 0, 0, 0.21);
    }

    .commands
    {
      text-align: left;
      padding: 0rem;
    }

    a, span, li, p {
        color: white !important;
    }

  }


  &.side-pre-off
  {
    overflow-x: hidden;
    padding-left: 0rem !important;
    width: @height-logo;

    .block
    {
      .header
      {
        h2
        {
          opacity: 0;
          overflow: hidden;
          width: @height-logo;
        }
      }
        
      .content
      {
        overflow: hidden;
        height: 0rem;
        background-color: @colorprimario;
        opacity: 0;
      }
    }
  }

  .block
  {
  
    &[data-block="navigation"]
    {
      .icon-block-side-pre(@icon-nav);
    }
    &[data-block="settings"]
    {
      .icon-block-side-pre(@icon-admin);
    }
    &[data-block*="bookmarks"]
    {
      .icon-block-side-pre(@icon-marcas);
    }
    &[data-block="adminblock"]
    {
      .icon-block-side-pre(@icon-admin-bloque); 
    }
  }
}


#page.side-pre-off
{
  transition: 1s !important;
  padding-left: @height-logo !important;
}

